<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PAINEL ADMIN</h1>
    
    <p>Quantos livros no sistema: {{qnts_livros}}</p>
    <a href="{% url 'manlivro' %}">Manipular Livros</a>
    <p>Quantos usuarios no sistema: {{qnts_usuarios}}</p>
    <a href="{% url 'manusuario' %}">Manipular Usuarios</a>
    <p>Quantos emprestimos no sistema: {{qnts_emprestimos}}</p>
    <a href="{% url 'manemprestimo' %}">Manipular Emprestimos</a>
</body>
</html>