<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'homeadmin' %}">Voltar</a>
    <h1>Painel de livro</h1>
    <form action="" method="post"> {% csrf_token %}
        <input type="text" name="titulo" placeholder="titulo...">
        <input type="text" name="autor" placeholder="autor...">
        <input type="text" name="desc" placeholder="descrição...">
        <input type="text" name="cate" placeholder="categoria...">
        <input type="text" name="isbn" placeholder="ISBN...">
        <input type="text" name="quant_disp" placeholder="Quantidade disponivel...">
        <button type="submit" name="acao" value="adicionar">Adicionar Livro</button>
    </form>
    <form action="" method="post"> {% csrf_token %}
        <label for="">Buscar livro:</label>
        <input type="text" name="titulo" placeholder="titulo...">
        <button type="submit" name="acao" value="buscar">Buscar livro</button>
    </form>
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    
    {% for livro in livros %}
        <a href="{% url 'livro' livro.id %}">
                        {{ livro.titulo }} - {{livro.autor}}
                    </a>
        <a href="{% url 'dellivro' livro.id %}">Deletar Livro</a>
        <a href="{% url 'edestoque' livro.id %}">Editar Estoque Do Livro</a>
        <br>
        <br>
    {% endfor %}
</body>
</html>